* { box-sizing: border-box; }


body {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	max-width: 960px;
	width:100%;
	position: relative;
	margin: 0 auto;
	padding: 2rem;

}

body main { 
	line-height: 1.5;
	max-width: 960px;
	width: 100%;
	position: relative;
}

img {
	width:100%;
	height: auto;
}
.container {
	width: 100%;
	max-width: 960px;
	position: relative;
	margin: 0 auto;
	padding: 2rem;
}

.logo {
	margin: 0 auto;
	width: 200px;
}

h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 36px;
	letter-spacing: 1px;
}


a {
	color: black;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

footer {
	font-family: 'Libre Baskerville', serif;
	font-size: .8rem;
}

.dropdown {
	position: relative;
	/* display: inline-block; */
	padding-bottom: 10%;
	margin: 0 auto;
	width: 14em;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}
